@import "tailwindcss";

@theme {
  --color-dark: #111010;
  --color-black-100: #1a1a1a;
  --color-black-200: #242424;
  --color-black-300: #3a3a3a;
  --color-primary: #4f46e5;
  --color-primary-hover: #4f2fe5;
  --color-black-900: #999999;
}

/* 
Default Styles   */
@layer base {
  html {
    @apply text-white;
    background-color: #111010;
  }
  h3 {
    @apply text-xl font-bold mb-10;
  }
  h2 {
    @apply text-3xl font-bold mb-2;
  }
  p {
    @apply text-[11px] font-bold text-black-900 mb-2;
  }
  .price {
    @apply text-3xl font-bold mb-2 text-white;
  }
  .primary-btn {
    @apply bg-primary cursor-pointer text-white px-4 py-2 rounded-md font-bold hover:bg-primary-hover transition my-4 w-full max-w-[300px];
  }
  .secondary-btn {
    @apply bg-black-100 cursor-pointer text-white px-4 py-2 rounded-md font-bold hover:bg-black-200 transition my-4 w-full max-w-[300px];
  }
  .inactive-btn {
    @apply bg-black-300  text-black px-4 py-2 rounded-md font-bold  transition my-4 w-full max-w-[300px];
  }
}
